# This is a template file. Fill in the fields in order to do a custom execution
# of this module and remember to save the file as a .cfg one (remove the
# ".template" part from the name).

# *************************** REPLICATION SETTINGS ****************************

[settings]

# ORIGINAL_DBNAME = the name of the database which you want to clone.

original_dbname: db_to_be_replicated

# NEW_DBNAME = the name of the new database created from the one selected.

new_dbname: my_replicated_db
